@media screen and (min-width: 1008px) {
    body , html{
        overflow-x: hidden;
        overflow-y:hidden;
        /* transition: all 1s linear */
    }
   
}
@media screen and (max-width: 1008px) {
    .gallery , .tour ,.about ,.testimonials ,.animated {
        top: 0;
        opacity: 1 !important;
        transition: top 1s linear,opacity 1s linear;
    }
    .gallery ery{
        transition: right 0s linear !important;
    }
    .mobileTopAnimation{
        top:50px;
        position: relative;
        transition: all 1s linear;
        opacity: 0.1 !important;
    }
}