mixin swipeImages(tour)
    - tour.swipeImages.forEach(image=>{
        .swiper-slide
            .swiper-slide-container
                img.lazy_image(data-src=image alt='' )
    - })


mixin swipe(tour)

    .swipers_container.col-xl-4
        
        .swiper-container.gallery-top.position-relative
            .preloader 
                svg.lds-eclipse(width='100%' height='100%' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 100 100' preserveaspectratio='xMidYMid')
                    path(ng-attr-d='{{config.pathCmd}}' ng-attr-fill='{{config.color}}' stroke='none' d='M10 50A40 40 0 0 0 90 50A40 42 0 0 1 10 50' fill='#28292f' transform='rotate(13.1609 50 51)')
                        animatetransform(attributename='transform' type='rotate' calcmode='linear' values='0 50 51;360 50 51' keytimes='0;1' dur='1s' begin='0s' repeatcount='indefinite')

            .swiper-wrapper
                +swipeImages(tour)

            .swiper-button-next
                svg.svg-inline--fa.fa-angle-right.fa-w-6.fa-fw.fa-2x(aria-hidden='true' focusable='false' data-prefix='far' data-icon='angle-right' role='img' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 192 512')
                    path(fill='currentColor' d='M187.8 264.5L41 412.5c-4.7 4.7-12.3 4.7-17 0L4.2 392.7c-4.7-4.7-4.7-12.3 0-17L122.7 256 4.2 136.3c-4.7-4.7-4.7-12.3 0-17L24 99.5c4.7-4.7 12.3-4.7 17 0l146.8 148c4.7 4.7 4.7 12.3 0 17z')
            .swiper-button-prev
                svg.svg-inline--fa.fa-angle-left.fa-w-6.fa-fw.fa-2x(aria-hidden='true' focusable='false' data-prefix='far' data-icon='angle-left' role='img' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 192 512')
                    path(fill='currentColor' d='M4.2 247.5L151 99.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17L69.3 256l118.5 119.7c4.7 4.7 4.7 12.3 0 17L168 412.5c-4.7 4.7-12.3 4.7-17 0L4.2 264.5c-4.7-4.7-4.7-12.3 0-17z')
            .assessment_of_tur 5+
                
        .swiper-container.gallery-thumbs
            .swiper-wrapper
                +swipeImages(tour)
            // here well be tringel  image
        .triangle_container
            img(src='./images/Vector Smart Object.png' alt='')
                
