include  ./vars
include  ./swiper
include ./excursion_description


- vars.forEach((tour)=>{

    .excursion_component_container.container-fluid.px-0
        .excursion_component.row
            +swipe(tour)
            +description(tour)
            
- })
