

//- tours array 
- 
    var vars  = [
        {
            tourName:'t1',
            swipeImages: [
                './images/garni.png',
                './images/geghard-monastery.jpg',
                './images/garni.png',
                './images/geghard-monastery.jpg',
            ] , 
            
            privateShortDesc: '  Garni, Geghard, Sevan, Noravannk',
            privateDescription:` Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis
                                 ratione repellendus fugiat. Voluptatem atque totam aliquid dolore 
                                 quidem unde reprehenderit sunt. Laboriosam at vitae excepturi omnis non consectetur voluptatibus sequi?
                                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis
                                 ratione repellendus fugiat. Voluptatem atque totam aliquid dolore
                                 quidem unde reprehenderit sunt. Laboriosam at vitae excepturi omnis
                                 non consectetur voluptatibus sequi?`,

            groupShortDesc: ' Garni, Geghard, Sevan, Noravannk',
            groupDescription:` Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis
                                 ratione repellendus fugiat. Voluptatem atque totam aliquid dolore 
                                 quidem unde reprehenderit sunt. Laboriosam at vitae excepturi omnis non consectetur voluptatibus sequi?
                                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis
                                 ratione repellendus fugiat. Voluptatem atque totam aliquid dolore
                                 quidem unde reprehenderit sunt. Laboriosam at vitae excepturi omnis
                                 non consectetur voluptatibus sequi?`,

            including: [
                {
                    img: './images/1657899eaf46d78.jpg',
                    name: 'wifi'       
                },
                {
                    img: './images/1657899eaf46d78.jpg',
                    name: 'wifi'       
                },
                {
                    
                    img: './images/1657899eaf46d78.jpg',
                    name: 'wifi'       
                }
            ],
            prices: {
                eur:  '75',
                usd: '57',
                amd: '27,500'
            }

        },
              {
            tourName:'t2',
            swipeImages: [
                './images/garni.png',
                './images/geghard-monastery.jpg',
                './images/garni.png',
                './images/geghard-monastery.jpg',
                'https://www.wpkube.com/wp-content/uploads/2017/10/lazy-load-plugins.jpg'
            ] ,
            privateShortDesc: '  Garni, Geghard, Sevan, Noravannk',
            privateDescription:` Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis
                                 ratione repellendus fugiat. Voluptatem atque totam aliquid dolore 
                                 quidem unde reprehenderit sunt. Laboriosam at vitae excepturi omnis non consectetur voluptatibus sequi?
                                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis
                                 ratione repellendus fugiat. Voluptatem atque totam aliquid dolore
                                 quidem unde reprehenderit sunt. Laboriosam at vitae excepturi omnis
                                 non consectetur voluptatibus sequi?`,

            groupShortDesc: ' Garni, Geghard, Sevan, Noravannk',
            groupDescription:` Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis
                                 ratione repellendus fugiat. Voluptatem atque totam aliquid dolore 
                                 quidem unde reprehenderit sunt. Laboriosam at vitae excepturi omnis non consectetur voluptatibus sequi?
                                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis
                                 ratione repellendus fugiat. Voluptatem atque totam aliquid dolore
                                 quidem unde reprehenderit sunt. Laboriosam at vitae excepturi omnis
                                 non consectetur voluptatibus sequi?`,

            including: [
                {
                    img: "./images/1657899eaf46d78.jpg" ,
                    name: 'wifi'       
                },
                {
                    img: "./images/1657899eaf46d78.jpg" ,
                    
                    name: 'wifi'       
                },
                {
                    img: "./images/1657899eaf46d78.jpg" ,
                    name: 'wifi'       
                }
            ],
            prices: {
                eur:  '85',
                usd: '57',
                amd: '27,500'
            }

        },
        {
            tourName:'t3',
            swipeImages: [
                './images/garni.png',
                'https://www.iprodev.com/wp-content/uploads/how-to-lazy-load-images-and-videos-to-speed-up-your-wordpress-site-1030x515.png',
                './images/geghard-monastery.jpg',
                './images/garni.png',
                './images/geghard-monastery.jpg',
            ] ,
            privateShortDesc: '  Garni, Geghard, Sevan, Noravannk',
            privateDescription:` Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis
                                 ratione repellendus fugiat. Voluptatem atque totam aliquid dolore 
                                 quidem unde reprehenderit sunt. Laboriosam at vitae excepturi omnis non consectetur voluptatibus sequi?
                                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis
                                 ratione repellendus fugiat. Voluptatem atque totam aliquid dolore
                                 quidem unde reprehenderit sunt. Laboriosam at vitae excepturi omnis
                                 non consectetur voluptatibus sequi?`,

            groupShortDesc: ' Garni, Geghard, Sevan, Noravannk',
            groupDescription:` Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis
                                 ratione repellendus fugiat. Voluptatem atque totam aliquid dolore 
                                 quidem unde reprehenderit sunt. Laboriosam at vitae excepturi omnis non consectetur voluptatibus sequi?
                                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis
                                 ratione repellendus fugiat. Voluptatem atque totam aliquid dolore
                                 quidem unde reprehenderit sunt. Laboriosam at vitae excepturi omnis
                                 non consectetur voluptatibus sequi?`,

            including: [
                {
                    img: "./images/1657899eaf46d78.jpg" ,
                    
                    name: 'wifi'       
                },
                {
                    img: "./images/1657899eaf46d78.jpg" ,
                    name: 'wifi'       
                },
                {
                    img: "./images/1657899eaf46d78.jpg" ,
                    name: 'wifi'       
                }
            ],
            prices: {
                eur:  '70',
                usd: '57',
                amd: '27,500'
            }

        },
        
       
    ] 